<div class="container-fluid banner4">
    <h3 class="text-center fw ">Buying booze is now possible at the top of your fingerprint</h3>
    <center>
    <img src="https://livingliquidz.com/Content/static/images/ios-download.png" alt="" class="img-fluid mt-3">
    <img src="https://livingliquidz.com/Content/static/images/android-download.png" alt="" class="img-fluid mt-3">
  </center>
  </div>
<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h3 class="text-center">About</h3>
          <p >Thousands of brands from across the globe with their unique experience and flavors, all under one name- Living Liquidz. Founded in the year 1970, we are now the leading and one of the foremost family-owned brands in the country that provides alcohol delivery.</p>
          <h3 class="text-center">Follow Us</h3>
          <center>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook-f"></i>
        </center>
        </div>
      
      <div class="col-md-4">
        <h3 class="text-center">Alco Drinks</h3>
        <ul>
          <li>
            <a href="">About Us</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
          <li>
            <a href="">Bulk Order</a>
          </li>
          <li>
            <a href="">Store Locator</a>
          </li>
          <li>
            <a href="">Link Importank</a>
          </li>
        </ul>
      </div>
     
      <div class="col-md-4">
        <h3 class="text-center">Useful Links</h3>
        <ul>
          <li>
            <a href="">Privacy Policy</a>
          </li>
          <li>
            <a href="">Disclamer</a>
          </li>
          <li>
            <a href="">Terms of Use</a>
          </li>
          <li>
            <a href="">Return Policy</a>
          </li>
          <li>
            <a href="">FaQs</a>
          </li>
        </ul>
  
      </div>
      
    </div>
  
    </div>
  </footer>