<%- include('Header') -%>
<%- include('Slider') -%>
<div class="container">
   <div class="row cardrow">
    <div class="card col-md-3">
        <img class="card-img-top" src="https://admin.livingliquidz.com/Content/wp-content/uploads/category/2022/12/NewProject(99)20221341256.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-text text-center">NEW ARRIVAL</h4>
          
        </div>
      </div>
      <div class="card col-md-3" >
        <img class="card-img-top" src="https://admin.livingliquidz.com/Content/wp-content/uploads/category/2023/1/NewProject-2023-01-03T193845.38320233859560.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-text text-center">CIGAR & CIG</h4>
          
        </div>
      </div>
      <div class="card col-md-3" >
        <img class="card-img-top" src="https://admin.livingliquidz.com/Content/wp-content/uploads/2020/08/spirits-hd.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-text text-center">SPIRITS</h4>
          
        </div>
      </div>
      <div class="card col-md-3" >
        <img class="card-img-top" src="https://admin.livingliquidz.com/Content/wp-content/uploads/2020/08/wines-hd.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-text text-center">WINES</h4>
          
        </div>
        
      </div>
      <a href="" class="btn-default all">view all</a>
   
   </div>
   <div class="row rowbanner mt-5">
    <div class="col-md-5">
        <img src="https://livingliquidz.com/Content/static/images/store-locator.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <img src="https://livingliquidz.com/Content/static/images/gifting.jpg" alt="" class="img-fluid">
    </div>
   </div>
  
</div>

<div class="container-fluid mt-5">
    <div class="row banner">
      
      <div class="col-md-6 ms-auto">
        <h1 class="mt-5">Love for the Wines</h1>
        <h3 class="mt-5">experience the taste of friend</h3>
        <input type="text" class="form-control-lg px-5 mt-3 p-3" placeholder="WINES BY REGION">
        <input type="text" class="form-control-lg px-5 mt-3 p-3" placeholder="WINES BY COUNTRY">
        <br>
        <input type="text" class="form-control-lg px-5 mt-5 p-3" placeholder="WINES BT GRAPES ">
        <input type="text" class="form-control-lg px-5 mt-5 p-3" placeholder="WINES BY STYLES">
        <br>
        <input type="text" class="form-control-lg px-5 mt-5 p-3" placeholder="WINES BY TYPE">
        <input type="text" class="form-control-lg px-5 mt-5 p-3" placeholder="WINES BY BRAND">
       
       
      </div>
    
        
    </div>
    
</div>
<div class="container-fluid">
  <div class="row banner2">
    <div class="col-md-6 ms-auto">
      <h1 class="mt-5">world of whisky</h1>
    <h3 class="mt-5">elevate your palate with whisky</h3>
    <input type="text" class="form-control-lg px-5 mt-3 p-3" placeholder="INDIAN WHICKY">
    <input type="text" class="form-control-lg px-5 mt-3 p-3" placeholder="SINGLE MALTS">
    <br>
    <input type="text" class="form-control-lg px-5 mt-5 p-3" placeholder="INTERNATIONAL ">
    <input type="text" class="form-control-lg px-5 mt-5 p-3" placeholder="SCOTCH">
    <br>
    <input type="text" class="form-control-lg px-5 mt-5 p-3" placeholder="WHICKY">
    <input type="text" class="form-control-lg px-5 mt-5 p-3" placeholder="BOURBON">
    </div>
    
  </div>

</div>
<div class="container">
  <div class="row banner3">
    <div class="col-md-3">
      <img src="https://livingliquidz.com/Content/static/images/home/wine%20faq.jpg" alt="" class="img-fluid">
      
    </div>
    <div class="col-md-3">
      <img src="https://livingliquidz.com/Content/static/images/home/know%20your%20wine.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-3">
      <img src="https://livingliquidz.com/Content/static/images/home/book%20bar%20tender.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-3">
      <img src="https://livingliquidz.com/Content/static/images/home/whiskey.jpg" alt="" class="img-fluid">
    </div>
  </div>
</div>





<%- include('Footer') -%>