<%- include('Header') -%>
<div class="container ">
    <div class="row more">
        <div class="col-md-2">
            <img src="https://dydza6t6xitx6.cloudfront.net/navigation/category/deals.png" alt="" class="img-fluid">
            <a href="">Great Value</a>
        </div>
        <div class="col-md-2">
            <img src="https://dydza6t6xitx6.cloudfront.net/navigation/category/beer.png" alt="" class="img-fluid">
            <a href="">Wine</a>
        </div>
        <div class="col-md-2">
            <img src="https://dydza6t6xitx6.cloudfront.net/navigation/category/wine.png" alt="" class="img-fluid">
            <a href="">Beer</a>
        </div>
        <div class="col-md-2">
            <img src="https://dydza6t6xitx6.cloudfront.net/navigation/category/hard-seltzer.png" alt="" class="img-fluid">
            <a href="">Hard Seltler</a>
        </div>
         <div class="col-md-2">
            <img src="https://dydza6t6xitx6.cloudfront.net/navigation/category/ready-to-drink.png" alt="" class="img-fluid">
            <a href="">Canned Coctaisl</a>
        </div>
        <div class="col-md-2">
            <img src="https://dydza6t6xitx6.cloudfront.net/navigation/category/extras.png" alt="" class="img-fluid">
            <a href="">Mixers & More</a>
        </div>

    </div>
  </div>
    <div class="container alco">
    <div class="row main1">
        <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YQNwfY8_e4M?si=cwFUEHKhZY1xe6As" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h3>Try alcohol delivery with Uber Eats</h3>
            <p>Enjoy a selection similar to Drizly with easy ordering and fast delivery.</p>
            <center>
            <button class="mt-5">ORDER NOW</button>
        </center>
        </div>
    </div>
    <div class="row main2">
<h1 class="fw-5">Drink-spiration to start with</h1>
<div class="col-md-2">
    <div class="card">
        <div class="card-img-top">
            <img src="https://products0.imgix.drizly.com/ci-don-julio-1942-f82ae646fbc41779.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="" class="img-fluid">
        </div>
        <div class="card-body">
            <h5 class="card-text">*4.8(12,57)</h5>
            <h4 class="card-title">Don Julio 1992</h4>
            <span>$26.99-$1100.00</span>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="card">
        <div class="card-img-top">
            <img src="https://products0.imgix.drizly.com/ci-johnnie-walker-blue-label-479ef399f8a13aaa.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="" class="img-fluid">
        </div>
        <div class="card-body">
            <h5 class="card-text">*4.8(12,57)</h5>
            <h4 class="card-title">Don Julio 1992</h4>
            <span>$26.99-$1100.00</span>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="card">
        <div class="card-img-top">
            <img src="https://products3.imgix.drizly.com/ci-don-julio-anejo-70th-anniversary-9c4c6aa0b5bcb952.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="" class="img-fluid">
        </div>
        <div class="card-body">
            <h5 class="card-text">*4.8(12,57)</h5>
            <h4 class="card-title">Don Julio 1992</h4>
            <span>$26.99-$1100.00</span>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="card">
        <div class="card-img-top">
            <img src="https://products3.imgix.drizly.com/ci-oban-14-year-single-malt-c62c8b26a59a4698.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="" class="img-fluid">
        </div>
        <div class="card-body">
            <h5 class="card-text">*4.8(12,57)</h5>
            <h4 class="card-title">Don Julio 1992</h4>
            <span>$26.99-$1100.00</span>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="card">
        <div class="card-img-top">
            <img src="https://products1.imgix.drizly.com/ci-ciroc-vodka-1d401375fa425629.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="" class="img-fluid">
        </div>
        <div class="card-body">
            <h5 class="card-text">*4.8(12,57)</h5>
            <h4 class="card-title">Don Julio 1992</h4>
            <span>$26.99-$1100.00</span>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="card">
        <div class="card-img-top">
            <img src="https://products2.imgix.drizly.com/ci-smirnoff-no-21-vodka-6b8733aeb17a9c1f.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="" class="img-fluid">
        </div>
        <div class="card-body">
            <h5 class="card-text">*4.8(12,57)</h5>
            <h4 class="card-title">Don Julio 1992</h4>
            <span>$26.99-$1100.00</span>
        </div>
    </div>
</div>
    </div>
    <div class="row main3">
        <h1>Foolproof last minute gifts</h1>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-veuve-clicquot-yellow-label-e147d2b1b6d562d9.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">4.8(75.42)</h5>
                  <h4 class="card-text">La Marca Prosecco Sparkling Wine</h4>
                  <span>$5.9-$9.99</span>
                  
                </div>
              </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="https://products2.imgix.drizly.com/ci-espolon-blanco-94fa02cf380aa76c.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">*4.8(2,602)</h5>
                  <h4 class="card-text">Veuve Clicquot Brut Yellow Label Champagne</h4>
                  <span>$29.9-9.99</span>
                  
                </div>
              </div>
            
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="https://products3.imgix.drizly.com/ci-casamigos-blanco-7fa61a657f6f783c.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">*4.8(2,602)</h5>
                  <h4 class="card-text">Mionetto Prosecco Brut Sparkling White Wine</h4>
                  <span>$29.9-9.99</span>
                  
                </div>
              </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="https://products3.imgix.drizly.com/ci-jose-cuervo-especial-silver-tequila-9e203052a133aec2.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">*4.8(2,602)</h5>
                  <h4 class="card-text">Korbel Brut California Champagne</h4>
                  <span>$29.9-9.99</span>
                  
                </div>
              </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="https://products3.imgix.drizly.com/ci-patron-silver-25fa130a809ea038.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">*4.8(2,602)</h5>
                  <h4 class="card-text">Jose Cuervo Especial Silver Tequila</h4>
                  <span>$29.9-9.99</span>
                  
                </div>
              </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="https://products0.imgix.drizly.com/ci-korbel-brut-53d9b2bb38635868.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">*4.8(2,602)</h5>
                  <h4 class="card-text">PATRÓN Silver Tequila</h4>
                   <span>$29.9-9.99</span>
                  
                </div>
              </div>
        </div>
</div>
<div class="row main4">
    <h1>Champagne & sparkling wine</h1>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-la-marca-prosecco-e31a356c8afc6f54.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">La Marca Prosecco Sparkling Wine</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-veuve-clicquot-yellow-label-e147d2b1b6d562d9.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Veuve Clicquot Brut Yellow Label Champagne</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-mionetto-prosecco-brut-ffdb7fbaa38b66e3.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Mionetto Prosecco Brut Sparkling White Wine</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products0.imgix.drizly.com/ci-korbel-brut-53d9b2bb38635868.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Korbel Brut California Champagne</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-moet-chandon-imperial-brut-champagne-75076a8787d43f73.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Moët & Chandon Impérial Brut Champagne</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-alexandrie-cellars-nv-alexandrie-brut-15c441125ce663af.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Alexandrie Cellars NV Alexandrie Brut</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
</div>
<div class="row main5">
    <h1>Best Sellers</h1>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-titos-handmade-vodka-fb6b09ccee7a6375.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Tito's Handmade Vodka</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-la-marca-prosecco-e31a356c8afc6f54.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">La Marca Prosecco Sparkling Wine</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products0.imgix.drizly.com/ci-coors-light-cf1273b3ec82ab31.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Coors Light American Lager Beer</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products2.imgix.drizly.com/ci-josh-cellars-cabernet-sauvignon-b924c45683b38e7c.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Josh Cellars Cabernet Sauvignon</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products2.imgix.drizly.com/ci-smirnoff-no-21-vodka-6b8733aeb17a9c1f.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Smirnoff No. 21 80 Proof Vodka</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products2.imgix.drizly.com/ci-svedka-vodka-e25f6705566905cc.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">SVEDKA Vodka</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
</div>
<div class="row main6">
    <h1>Mocktail superstars</h1>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-phony-negroni-95dc682afa74d35d.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">St. Agrestis Non-Alcoholic Phony Negroni®</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products2.imgix.drizly.com/ci-ritual-tequila-alternative-zero-proof-28550df622423b7f.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Ritual Zero Proof Tequila Alternative</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-seedlip-grove-42-non-alcoholic-spirits-9cad85b5a34b0894.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Seedlip Grove 42 Non-alcoholic Spirit</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-ritual-gin-alternative-zero-proof-ca9a256883c026d8.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Ritual Zero Proof Gin Alternative</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-seedlip-spice-94-non-alcoholic-spirit-3cbf6b919f7d6f4e.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Seedlip Spice 94 Non-alcoholic Spirit, 70cl
            </h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-kin-euphorics-lightwave-euphoric-non-alcoholic-drinks-4262d9457fab8ff5.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Kin Euphorics Lightwave Non-Alcoholic Drinks</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
</div>
<div class="row main7">
    <h1>Espresso martinis, anyone?</h1>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-titos-handmade-vodka-fb6b09ccee7a6375.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Tito's Handmade Vodka</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products2.imgix.drizly.com/ci-smirnoff-no-21-vodka-6b8733aeb17a9c1f.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Smirnoff No. 21 80 Proof Vodka</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products2.imgix.drizly.com/ci-svedka-vodka-e25f6705566905cc.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">SVEDKA Vodka</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products0.imgix.drizly.com/ci-grey-goose-vodka-5beb834a0488bbbb.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">GREY GOOSE Vodka</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-absolut-vodka-35e71e578f7b241a.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Absolut Original Vodka</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-ketel-one-vodka-1a0b248966757601.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Ketel One Vodka</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
</div>
<div class="row main8">
    <h1>Red wine</h1>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products2.imgix.drizly.com/ci-josh-cellars-cabernet-sauvignon-b924c45683b38e7c.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Josh Cellars Cabernet Sauvignon</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products0.imgix.drizly.com/ci-decoy-cabernet-sauvignon-2fc5dcf053f44c78.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Decoy Cabernet Sauvignon</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-martin-ray-napa-cabernet-reserve-tw-32552d83aecde259.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Martin Ray Napa Valley Cabernet Sauvignon</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-meiomi-pinot-noir-f985a58c62a9a4f7.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Meiomi Pinot Noir Red Wine</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-angeline-pinot-noir-reserve-647e6ae8a6c9c2e2.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Angeline Pinot Noir Reserve</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-apothic-red-24028eeae2b2a597.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Apothic Red Blend Red Wine</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
</div>
<div class="row main9">
    <h1>Non-alcoholic drinks</h1>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-heineken-non-alcoholic-2200aadb25fa725d.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Heineken Non-Alcoholic 0.0</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-athletic-brewing-company-run-wild-non-alcoholic-ipa-36f352b30316732e.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Athletic Brewing Run Wild IPA
              </h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-athletic-brewing-upside-dawn-non-alcoholic-3016cb25ebf8a316.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Athletic Brewing Upside Dawn
              </h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-guinness-00-non-alcoholic-beer-5002ce9101fa1668.png?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Guinness 0, Non-Alcoholic Draught</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products1.imgix.drizly.com/ci-athletic-brewing-free-wave-55b1d4e9dea625bb.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Athletic Brewing Free Wave Hazy IPA</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://products3.imgix.drizly.com/ci-corona-non-alcoholic-malt-beverage-mexican-brew-cc1bc602077457a0.jpeg?auto=format%2Ccompress&ch=Width%2CDPR&dpr=2&fm=jpg&h=240&q=20" alt="Card image">
            <div class="card-body">
              <h5 class="card-title">4.8(75.42)</h5>
              <h4 class="card-text">Corona Non-Alcoholic Malt Beverage Mexican Brew</h4>
              <span>$5.9-$9.99</span>
              
            </div>
          </div>
    </div>
</div>
    
</div>




<%- include('Footer') -%>